# Byte-compiled / optimized / DLL files
corpus/__pycache__/
corpus/*.py[cod]
corpus/$py.class
corpus/.mypy_cache/
corpus/corpus.egg-info/
# Jupyter Notebook
.ipynb_checkpoints

# Project specific
server.out
data/
corpus/test_data/*.is
corpus/test_data/*.en
