# Byte-compiled / optimized / DLL files
frontend/__pycache__/
corpus/*.py[cod]
frontend/$py.class
frontend/.mypy_cache/
frontend/corpus.egg-info/
.mypy_cache/
.vscode/
# Jupyter Notebook
.ipynb_checkpoints

# Project specific
*/*.egg-info/
server.out
data/
corpus/test_data/*.is
corpus/test_data/*.en
/frontend/tests/test_data/
frontend/frontend/__pycache__/
frontend/kvistur.py
frontend/resources/
frontend/tests/__pycache__/
kvistur.py
resources
slurm-*